@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@700&family=Lobster&family=Nunito+Sans:ital,wght@1,1000&family=Roboto:wght@400;700&family=Sigmar&family=Tilt+Prism&display=swap');

*,
html {
    box-sizing: border-box;
    margin: 0;
}

body {
    max-width: 1440px;
    min-width: 375px;
    background-color: rgb(203, 214, 230);
    border: 2px solid rgb(163, 160, 160);
    box-shadow: inset 3px 3px 3px;
    margin: 0 auto;
}


/*Header för alla sidor*/

.header .card {
    width: 100%;
    height: 250px;
    background-color: rgb(36, 36, 162);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

h1 {

    font-size: 8em;
    color: #e3d9a0;
    font-style: italic;
    font-weight: 700;
    text-shadow: 4px 4px 5px black;
}

.logo {
    display: flex;
    height: 50%;
    filter: brightness(75%) contrast(60%);
}

.wrapper>nav {
    height: 3em;
    font-size: 1.5em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: #e3d9a0;
    box-shadow: 5px 5px 5px rgb(121, 121, 72);
}

.wrapper>nav>a {
    color: rgba(67, 66, 34, 1);
    text-decoration: none;
    font-size: 1.8rem;
}

.wrapper>nav>a:hover {
    color: rgb(51, 51, 201);
}




/*Startsida*/

.hero {
    max-width: 95%;
    height: 50em;
    background: linear-gradient(to bottom, rgb(80, 80, 203) 0%, white 70%);
    display: flex;
    flex-wrap: wrap;
    margin: 2em;
    padding: 2em;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero h2 {
    font-size: 3em;
    color: rgb(43, 43, 85);
    font-style: italic;
    font-weight: 700;
}

.hero .info,
.hero .cardTop,
.hero .cardBottom,
.hero .button {
    width: 50%;
}

.hero .cardTop>img,
.hero .cardBottom>img {
    width: 70%;
    border: 1px solid rgb(124, 124, 62);
    border-radius: 8px;
    box-shadow: 4px 6px 8px gray;
}

button {
    background-color: rgb(36, 36, 162);
    color: rgb(133, 133, 239);
    border: 1px solid gray;
    box-shadow: 3px 3px 3px rgb(42, 42, 176);
    border-radius: 8px;
    font-size: 1.7em;
    width: 70%;
    height: 50%;
}


button:hover {
    background-color: rgb(66, 66, 141);
    color: rgb(167, 167, 229);
}

/*Hotell sida*/

.hotell {
    padding: 1em;
}

.hotell h2 {
    font-size: 2em;
    padding: 1.2rem;
}

.hotell p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    font-style: inherit;

}

.hotell img {
    width: 100%;
    border-radius: 6px;
    box-shadow: 4px 6px 8px gray;
}

.reception,
.area,
.trips {
    display: flex;

}






.faciliteter {
    margin-top: 3rem;
    font-size: 1.2em;
    font-style: normal;
    list-style: square inside;
    font-weight: lighter;
}

/*Galeri*/

.punkt li {
    font-size: 30px;
    color: rgb(43, 43, 85);
    text-align: center;
    padding-bottom: 1rem;
    font-style: normal;
    text-align: center;
    list-style: none;
}

.container h2 {
    font-size: 48px;
    text-align: center;
    padding: 2rem 2rem;
}

.container .article {
    margin: 3rem;
    font-size: 1.8em;
}

.container p {
    padding: 1rem;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container .cardrum {
    max-width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    gap: 3.5rem;
    font-size: 1.6em;
    text-align: center;
}

.cardrum figure>img {
    width: 40%;
    margin: 1rem;
}

.cardrum figure {
    transition: transform 0, 3s;
}

.cardrum figure>img:hover {
    transform: scale(1.20);
}

/*Bokningssida*/
.form-wrapper h2 {
    font-size: 45px;
}

.form-wrapper {
    width: 80%;
    border: 2px solid rgb(125, 125, 220);
    margin: 3rem auto;
    padding: 3rem;
    color: rgb(17, 17, 99);
    text-align: center;
    box-shadow: inset 8px 8px 24px rgb(135, 135, 229);
    background: linear-gradient(to bottom, rgb(169, 169, 226) 0%, white 50%);
}

.data {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    padding: 1.8rem 1rem;
    margin-top: 1rem;
    border-radius: 2px;
}

.room {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    padding: 1.8rem;
}

label {
    font-size: 20px;
    color: rgb(50, 50, 82);
    text-align: end;
}

input {
    width: 300px;
    height: 60px;
    border: .8px solid rgb(72, 72, 213);
    border-radius: 10px;
}

.sumbit {
    padding: 5rem;
}


/*Footer för alla sidor*/
.footer {
    display: flex;
    background-color: rgb(21, 21, 102);
}

.footer .row {
    width: 65%;
    margin: 1% 0%;
    padding: 0.6% 0%;
    color: white;
    font-size: 1.2em;
}

.footer .row ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}


.footer .row ul li {
    margin: 0px 10px;
    padding: 5px;
}

.footer .row-icon {
    width: 35%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    font-size: 1.2rem;
    margin: 0% 1%;
    padding: 15px;
    color: white;
}

footer :hover {
    color: rgb(154, 154, 207);
}

@media all and (min-width:375px) and (max-width:1400px) {
    body {
        font-size: 15spx;
    }

    header,
    main,
    footer {
        float: none;
        width: auto;
        margin: 10px;
    }
}